<%= form_with(model: idea) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <div class="field">
      <%= form.label :name, 'Nome', :class =>"form_label" %>
      <%= form.text_field :name, :class=>"form-control" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, 'Descrição', :class =>"form_label" %>
    <%= form.text_area :description, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= form.label :picture, 'Imagem', :class =>"form_label" %>
    <%= form.file_field :picture, :class=>"form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
