
<h1 class="display-4"><%= @idea.name %></h1>
<div class="row">
  <div class="col-md-12">
    <%= image_tag(@idea.picture_url, width: '75%') if @idea.picture.present? %>
  </div>

  <div class="col-md-12">
    <br>
    <p><b>Nome: </b><%= @idea.name %></p>
    <p><b>Descrição: </b><%= @idea.description %></p>
    <p>
      <%= link_to 'Editar', edit_idea_path(@idea) %> |
      <%= link_to 'Deletar', @idea, data: { confirm: 'Tem certreza?' }, method: :delete %> |
      <%= link_to 'Voltar', ideas_path %>
    </p>
  </div>

  <div class="col-md-12">
    <br>
    <h3 class="display-5">Comentários</h3>
    <% @comments.each do |comment| %>
      <div class="col-md-3">
        <strong><%= comment.user_name %></strong>
        <br>
        <p><%= comment.body %></p>
        <p><%= link_to 'Deletar', comment_path(comment), method: :delete, data: { confirm: 'Tem certreza?' } %></p>
      </div>
    <% end %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
</div>
